.cardEquipo{
    margin: auto;
    background-color: #ffffff;
}
.contendorSelectEquipo{
    padding-top: 25px;
}
.nombreEquipoSelect{
    min-width: 200px !important;
}
.selectEquipo{
    min-width: 200px;
}
.seleccionarEquipo{
    display: grid;
    grid-template-columns: 1fr;
}
.cardEquipoJugadores{
    margin: auto;
}
.fotoJugador{
    position: absolute;
    bottom: 55px;
    margin: auto;
    width: 80px !important;
    height: 80px !important;
}
.nombreJugador{
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
}
.contenidoCardJugador{
    color: black !important;
}
.colorLetraDetallesJugador{
    color: black !important;
}
.NombrePerfilJugador{
    display: grid;
    text-align: center;
}
.fotoPerfilJugador{
    max-width: 500px;
    min-width: 400px;
}
.cardJugadores{
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    border: none !important;
}
.espaciadoTop{
    padding-top: 100px;
}